html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.newWork {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#userinput {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#userinput::placeholder{
  font-size: 18px;
}

#enter {
  font-size: 20px;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-container li {
  font-size: 24px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item-container li:before {
  content: "•";
  color: #4CAF50;
  margin-right: 10px;
}

img {
  height: 20px;
  width: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: #808080;
}

.oneLine {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Media Query for smaller devices */
@media only screen and (max-width: 600px) {
  #userinput {
    width: 100%;
    font-size: 14px;
  }

  #enter {
    font-size:16px;
  }

  #userinput::placeholder{
    font-size: 14px;
  }
  
  .item-container li {
    margin-right: 5px;
    font-size: 18px;
  } 
  img {
    height: 18px;
    width: 18px;
  }
}

footer {
  background-color: transparent;
  color: #2e8331;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  margin-top: auto;
}
