body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newWork {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#userinput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#enter {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-container li {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.item-container li:before {
  content: "•";
  color: #4CAF50;
  margin-right: 10px;
}

.item-container button {
  margin-left: 11px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.oneLine {
  display:flex;
}

.done {
  text-decoration: line-through;
  color: #808080;
}

/* Media Query for smaller devices */
@media (max-width: 480px) {
  #userinput {
    width: 100%;
  }
  
  .item-container li {
    margin-right: 5px;
    font-size: 14px;
  }
  
  .item-container button {
    margin-left: 6.5px;
    padding: 5px 10px;
    font-size: 14px;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newWork {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#userinput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#enter {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-container li {
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item-container li:before {
  content: "•";
  color: #4CAF50;
  margin-right: 10px;
}

.item-container button {
  margin-left: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: #808080;
}

/* Media Query for smaller devices */
@media only screen and (max-width: 480px) {
  #userinput {
    width: 100%;
  }
  
  .item-container li {
    margin-right: 5px;
    font-size: 14px;
  }
  
  .item-container button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 14px;
  }
}
